<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <title>Library-home</title>
  </head>
  <body>
    <div class="head">
      <div class="head-left">
        <a href="/" class="main library">LIBRARY</a>
      </div>
      <div class="head-right">
        {% if request.user.is_authenticated%}
          <a href="issue_book" class="link issue_book"><strong>Issue a book</strong></a>
          <a href="book_register" class="link book_register"><strong>Register a Book</strong></a>
          <a href="logout" class="link logout"><strong>Logout</strong></a>
          <a href="book_issued_details" class="link book_issued_details"><strong>Books Issued</strong></a>
          <p class="link user_first_name">Hello, {{user.username}}</p>
        {%else%}
          <a href="sign-in" class="link sign_in"><strong>Sign-in</strong></a>
          <a href="sign-up" class="link sign_up"><strong>Sign-up</strong></a>
        {%endif%}
      </div>
    </div>
    {%if user.is_authenticated%}
      <p class="input book_details_inp">Number of books registered: {{books_number}}</p>
      <div class="details_books">
        {%for book in book_requested %} 
          <div class="book_details_box">
            <p class="input book_details_inp">Name of Uplaoder: {{book.name_of_uploader}}</p>
            <p class="input book_details_inp">Name of Book: {{book.book_name}}</p>
            <p class="input book_details_inp">Name of author: {{book.author}}</p>
            <p class="input book_details_inp">Number of pages: {{book.number_of_pages}}</p>
            <p class="input book_details_inp">Book description: {{book.brief_description}}</p>
            <p class="input book_details_inp">Book rating: {{book.rating}}</p>
            <p class="input book_details_inp">Book review: {{book.review}}</p>
          </div>
        {%endfor%}
      </div>
    {%endif%}
  </body>
</html>
